@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*******NAVBAR*******/
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;
    padding:1rem;
    color:#143444;
    box-shadow: 2px 2px 8px #c1b9b9;
    background-color: #fff;
}
nav img{
    width: 2rem ;
    height: 2rem;  
    margin-top: 0.5rem;
}

nav input {
    margin-right: auto;
    padding: 0.4rem;
    border-radius: 1rem;
    border: #dfdcdc 1px solid;
}
nav i {
    color: white;
    background-color:#143444;
    padding: 0.5rem;
    border-radius: 1.5rem;
}
/***MAIN ***/
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: 5% auto;
    gap: 5%;
    
}
.profile {
   
    background-color: #fff;
    padding: 2rem;
    box-shadow: 2px 2px 8px #c1b9b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4%;
    color:#143444
}
.profile p {
    color: gray;
}

.profileimg{
    width: 10rem;
    border-radius: 50%;
}
.data{
    box-shadow: 2px 2px 8px #c1b9b9;

}
.data ul {
    list-style-type: none;
    padding: 1rem;
}
.data li {
    padding: 0.5rem;
    margin: 1rem;
}
.data h3 {
    background-color: #143444;
    color: #F6EE99;
    padding: 0.4rem;
    display: inline-block;
    margin-bottom: 1rem;

}
.edit-btn{
    background-color: #143444;
    color:#F6EE99;
    width: 7rem;
    height: 2rem;
    font-size: 1.5rem;
    border: 1px solid #143444;
}
